<!DOCTYPE html>
<html>
<head>

	<!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/flatly/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <link href="{{ url_for('static',filename='css/pygments.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/starter-template.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
        

	{% block headers %}
	{% endblock %}

</head>
<body>
	<div class="navbar-wrapper">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
				<div class="navbar navbar-default navbar-fixed-top" role="navigation">
				    <ul class="nav navbar-nav">
					    <li><a href="{{ url_for('index') }}" style="font-size: 20px;">Home</a></li>
						<li><a href="{{ url_for('search') }}" style="font-size: 20px;">Search Uniform</a></li>
				    </ul>
				</div>
			</div>
		</div>
	</div>
	<!--here the body-->

	{% block content %}
	{% endblock %}

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
	{% block footer %}
	{% endblock %}

</body>
</html>