{% extends "base.html" %}

{% block headers %}

    <title>John the Referee</title>

{% endblock %}


{% block content %}

    <div class="jumbotron home">
        <div class="container">
            {% if uniform %}
                <div class="row">
                    <div class="col-md-4 visible-lg">
                    </div>
                    <div class="col-md-12 text-center">
                        <h1>{{uniform.name}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 visible-lg">
                    </div>
                </div>

                <!-- Three columns of text below the carousel -->
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img class="img-circle" src="{{ url_for('static',filename='images/'+uniform.id|string+'.jpg') }}" alt="Generic placeholder image" width="450" height="450">
                        <p>{{uniform.description}}</p>
                    </div>
                </div><!-- /.row -->
             {% endif %}     
        </div>
    </div>

{% endblock %}